*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3*
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/etc/secret
coverage
.DS_Store
public/assets/uploads/
/test/reports
/config/app_config.yml
/config/database.yml
.rvmrc


