<div class="row item index">
  <div class="col-md-4">
    <% if !item.pics.empty? %>
      <%= image_tag item.pics.first.attach(:front), :style => "width: 100%" %>
    <% end %>
  </div>
  <div class="col-md-8">
    <h3 class="font_title">
      <%= link_to item.title, [:front, item.category, item] %>
    </h3>
    <div class="intro">
      <%= item.intro.to_md %>
    </div>
  </div>
</div>