<% title "Item > #{@item.title}" %>

<div class="row">
  <div class="col-md-4">
    <h2 class="font_title"><%= @item.title %></h2>
    <%= @item.text.to_md %>
  </div>
  <div class="col-md-8">
    <ul>
      <% @item.pics.each do |pic| %>
        <li>
          <%= image_tag pic.attach(:front_big) %>
          <p><%= pic.title %></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>

