<% if object.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h4>Some errors found:</h4>
    <br />
    <ul>
      <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>