em {
  font-style: italic;
}

/* bootstrap tricks */

/* for the bottom fixed nav bar */
body { padding-bottom: 70px; }

/* remove nav bar border radious */
.navbar{
   -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;
}

/* General */
a, a:hover {
  color: black;
}

/* Nivo slider */

.theme-default .nivoSlider {
  box-shadow: 0px 0px 0px 0px #4a4a4a;
}

/* header */

#header ul#applications {
  margin: 80px 10px 80px 80px;
  font-size: 10px;
  text-align: justify;
  line-height: 20px;
}

#header #applications li {
  display: inline;
  text-transform:uppercase;

}

#header #applications li.important {
  font-weight: bold;
  color: black !important;
  font-size: 9px;
}

/*#header #applications li:before {
content: "| ";
}
*/

#header #applications li:nth-child(odd) {
  color: red;
}


#header .navbar-default{
  border-width: 1px 0px;
  border-color: rgb(165, 165, 165);
  min-height: 0px;
}


#header h1 {
  font-size: 60px;
  margin-top: 110px;
}

#header img {
  width: 320px;
}

#header #menu a {
  padding: 0px 15px;
  font-size: 14px;
  /*color: red;*/
  color: rgb(114, 113, 113);
  text-transform: uppercase;
}

#header #menu a:hover {
  text-decoration: underline;
  color: black;
}

/* Items index */
#items_index .thumbnail {
  height: 550px;
  margin-bottom: 20px;
}


/* item */
.item .text h1 {
  font-size: 20px;
}

.item .text h2 {
  font-size: 16px;
}

.item .text h3 {
  font-size: 14px;
}

.item.show .intro {
  color: gray;
}

.item .text ul {
  list-style-type: disc;
  padding-left: 20px;
}

/* map */
#map_canvas {
  height: 300px;
}