<% title "Pages > Contact" %>

<div class="jumbotron">
  <div class="container">
    <h1>Art Aplicades Mintegi</h1>
    <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
    Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
    <p><%= link_to "Contactar", "mailto:e.mintegi@gmail.com", :class => "btn btn-primary btn-lg" %></p>
  </div>
</div>
