<% title "Forgot password" %>

<%= form_for [:admin, @admin_user_session], :url => admin_forgot_password_path, :html => { :class => "form-horizontal" } do |f| %>
  <legend>Forgot password</legend>

  <p>Add your email and you will receive a reset password instructions</p>

  <div class="form-group">
    <%= f.label :email, :class => "col-lg-2 control-label" %>

    <div class="col-lg-10">
      <div class="input-group">
        <span class="input-group-addon"><i class="icon-envelope"></i></span>
        <%= f.text_field :email, :class => "form-control", :type => "email" %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-offset-2 col-lg-10">
      <%= f.submit "Reset password", :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
