<div id="header" class="container">
  <div id="logo" class="row">
    <div class="col-md-4">
      <%= link_to :root do %>
        <%= image_tag "/assets/app/front/img/logo.png" %>
      <% end %>
    </div>
    <div class="col-md-8">
      <h1 class="font_normal pull-right">Art Aplicades Mintegi</h1>
    </div>
  </div>

  <%= render "layouts/front/menu" %>
</div>