<div id="header" class="container">
  <div id="logo" class="row">
    <div class="col-md-4">
      <%= link_to :root do %>
        <%= image_tag "/assets/app/front/img/logo.png" %>
      <% end %>
    </div>
    <div class="col-md-8">
      <ul id="applications">
        <li>escultura en viejos y nuevos materiales</li>
        <li>pequeñas piezas de fundición</li>
        <li>trofeos conmemorativos</li>
        <li>regalos corporativos</li>
        <li>recuerdos de aniversario</li>
        <li>maquetas y reproducciones</li>
        <li>atrezzos</li>
        <li>efectos especiales</li>
        <li>props</li>
        <li>creación de personajes y mascotas</li>
        <li>stop motion</li>
        <li>animación tradicional</li>
        <li>cortinillas</li>
        <li>pintura mural</li>
        <li>esgrafiado mural</li>
        <li>rotulación artesanal en vidrieras y superficies</li>
        <li>story boards</li>
        <li>dibujo</li>
        <li>ilustración</li>
        <li>caricaturas</li>
        <li>tiras y cómic </li>
        <li class="important">obra de autor</li>
        <li class="important">cursos y monográficos</li>
        <li>imagen corporativa</li>
        <li>diseño gráfico</li>
        <li>packaging y presentaciones</li>
        <li>maquetación editorial</li>
        <li>restauración del mueble antiguo y moderno</li>
        <li>dorados y estofados</li>
        <li>policromías</li>
        <li>marquetería</li>
        <li>reconstrucciones de molduras y tallas</li>
        <li>tapicería antigua y moderna</li>
        <li>capitonés </li>
        <li>cuerda</li>
        <li>rejilla cosida y de pieza con junquillo</li>
        <li>creación y duplicado de herrajes</li>
        <li>gigantes y cabezudos</li>
      </ul>
    </div>
  </div>

  <%= render "layouts/front/menu" %>
</div>